<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062263174096-nlso84oqbq17ieseimoft4vefcf0kj5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062263174096-nlso84oqbq17ieseimoft4vefcf0kj5k</string>
	<key>API_KEY</key>
	<string>AIzaSyD-mX6e3_QJx8pS1rWWrsRiASqFiOYRme8</string>
	<key>GCM_SENDER_ID</key>
	<string>1062263174096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gkfin</string>
	<key>PROJECT_ID</key>
	<string>gkfin-tp-pdm</string>
	<key>STORAGE_BUCKET</key>
	<string>gkfin-tp-pdm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062263174096:ios:3eb17a6f02e16efa4dffd5</string>
</dict>
</plist>